@top_drawer_bg_color:		#2f2f2f;
@top_drawer_text_color:	#c5c5c5;
@top_bar_bg_color:		rgba(248,248,248,1);
@top_bar_text_color:		#888888;
@primary_color:			#464483;
@border_color:			rgba(221,221,221,1);
@secondary_color:			#222222;
@text_color:				#444444;
@text_secondary_color:				#666666;
@meta_text_color:			#999999;
@heading_color:			#222222;
@bold_color:				#222222;
@footer_bg_color:			#222222;
@footer_text_color:		#888888;
@footer_heading_text_color:#FFFFFF;
@bottom_bar_bg_color:		#111111;
@bottom_bar_text_color:	#878787;
@link_color:				#0cb4ce;
@link_color_hover:		#0cb4ce;
@link_color_active:		#0cb4ce;
@menu_font:				'Roboto';
@secondary_font:				'Roboto';
@primary_font:				'Roboto';
@page_title_text_color:	#FFFFFF;
@page_title_bg_color:		#2a2a2a;
@page_title_overlay_color:	#000000;
@page_title_overlay_opacity:	0.5;
@logo_max_height:	90px;
@logo_padding:	5px;
@header_1_main_menu_height:	37px;
@header_2_main_menu_height:	50px;
@header_3_main_menu_height:	50px;
@logo_mobile_max_height:	42px;
@logo_mobile_padding:	20px;
@main_menu_mobile_height:	82px;
@menu_text_color:	#ffffff;
@menu_text_hover_color:	#b2b2b2;
@menu_text_bg_hover_color:	transparent;
@menu_bg_color:	#464483;
@menu_sub_bg_color:	#111111;
@menu_sub_bg_hover_color:	#222222;
@menu_sub_text_color:	#AAAAAA;
@menu_sub_text_hover_color:	#ffffff;
@header_border_color:	rgba(238,238,238,0.3);
@theme_url:"http://localhost:81/wpdemo/ducminh/wp-content/themes/hemelios/";
@header_background_color:	rgba(255,255,255,1);
@header_sticky_bg:	#464483;
@header_margin_top:	0px;
