<div class="mail-chimp-wrapper">
	<p>Enter your email address for our mailing list to keep your self our lastest updated.</p>
	<p>
		<input type="email" name="EMAIL" placeholder="Email" required />
	</p>
	<p>
		<input type="submit" value="Signup" />
	</p>

</div>