.os-ibox {
	position      : relative;
	z-index       : 3;
	margin-bottom: 30px;
	//Icon in  header
	@icon-size : 45px;
	.__icon {
		display  : inline-block;
		position : relative;
		width    : @icon-size;
		height   : @icon-size;
		margin   : 0 10px;

		img{
			max-width : 100%;
		}

		i {
			display     : block;
			width       : 100%;
			height      : 100%;
			margin      : 0;
			text-align  : center;
			line-height : inherit;

			&:before {
				line-height : inherit !important;
			}

		}

		&.simple-icon {
			font-size   : 32px;
			line-height : @icon-size;
			color       : @primary_color;
		}

		&.circle-icon {
			background-color : @primary_color;
			color            : #FFFFFF;
			line-height      : @icon-size;
			font-size        : 20px;
			border-radius    : 50%;
			a{
				color: inherit;
			}
		}
	}

	&.istyle-left {
		.__header {
			margin-bottom : 20px;

			.__icon {
				vertical-align : middle;
				display        : inline-block;
			}

			.__title {
				font-weight   : 600;
				font-size : 14px;
				display        : inline-block;
				vertical-align : middle;
				margin-bottom  : 0;
				max-width      : ~"calc(100% - 70px)";

				a{
					color: inherit;
					&:hover{
						color: @link_color_hover;
					}
				}
			}
		}
	}

	&.istyle-top {
		text-align : center;
		.__header {
			.__title {
				font-size : 13px;
				font-weight : 500;
			}
			.__icon {
				margin-bottom : 30px;
			}
		}
	}

	&.istyle-inherit {
		.__header {
			.__title {
				color: inherit;
			}
		}

		.__content {
			color: inherit;
		}

		.__symbol-bg {
			color       : rgba(0, 0, 0, 0.05);
		}


	}


	&.istyle-dark {
		.__header {
			.__title {
				color: #444444;
			}
		}

		.__content {
			color: #444444;
		}

		.__symbol-bg {
			color       : rgba(0, 0, 0, 0.05);
		}


	}


	&.istyle-light {
		.__header {
			.__title {
				color: #ffffff;
			}
		}
		.__content {
			color: #ffffff;
		}

		.__symbol-bg {
			color       : rgba(255, 255, 255, 0.05);
		}
	}

	// Content
	.__content {

	}

	// Symbol Background

	.__symbol-bg {
		position    : absolute;
		top         : 0;
		left        : -0.04em;
		z-index     : -1;
		line-height : 1;
		font-size   : 200px;
		color       : rgba(0, 0, 0, 0.05);
		font-weight : 600;
	}
}

