.product-inner-wrap {
	&.blog-inner {
		article {
			padding-bottom: 20px;
			margin-bottom:  30px;
			border-bottom:  1px solid @border_color;
			.thumb-right.entry-thumbnail-wrap {
				float: right !important;
			}
		}
	}
}

.product-entry-content {
	border-top:  1px solid @border_color;
	margin-top:  30px;
	padding-top: 30px;
}

.product-content {
	.social-share-wrap {
		text-align: left;
		.social-share {
			display: block !important;
			li {
				display: inline-block !important;
			}
		}
		.thumb-product {
			padding-bottom: 50px;
		}
		.product-content {

		}
	}
	.emd_dl_red_darker {
		display:            block;
		height:             50px;
		line-height:        50px;
		border:             1px solid @border_color;
		text-align:         left;
		padding-left:       25px;
		font-size:          13px;
		font-weight:        500;
		color:              #444444 !important;
		text-transform:     uppercase;
		text-decoration:    none;
		background:         #fff;
		-moz-box-shadow:    none;
		-webkit-box-shadow: none;
		box-shadow:         none;
		.rounded(0);
		text-shadow:        none;
		width:              80%;
		font-family:        @primary_font;
		&:before {
			content:                 "\e011";
			font-family:             "hemelios" !important;
			font-style:              normal !important;
			font-weight:             normal !important;
			font-variant:            normal !important;
			text-transform:          none !important;
			speak:                   none;
			-webkit-font-smoothing:  antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin-right:            10px;
			font-size:               20px;
			display:                 inline-block;
			width:                   16px;
			height:                  16px;
			line-height:             16px;
			vertical-align:          text-top;
			margin-left:             5px;
		}
		&:hover {
			background: #F9F9F9;
		}
	}
}

.products-slideshow {
	#products-slider {
		position: relative;
		.owl-controls {
			margin-top: 0;
			.owl-prev, .owl-next {
				background-color: rgba(0, 0, 0, .9);
				width:            50px;
				height:           50px;
				line-height:      50px;
				color:            #fff;
				.rounded(0);
				top:              50%;
				margin:           0;
				margin-top:       -25px;
				position:         absolute;
				.transition-all(.3s);
				&:hover {
					background-color: #fff;
					color:            #000;
				}
				i {
					font-size: 20px;
				}
			}
			.owl-prev {
				left: 0;
			}
			.owl-next {
				right: 0;
			}
		}

	}
	#products-carousel {
		padding: 20px 35px 0;
		.owl-item {
			padding: 0 15px;
			img {
				cursor:  pointer;
				opacity: .6;
			}
			&:hover {
				img {
					opacity: 1;
				}
			}
			&.synced {
				img {
					opacity: 1;
				}
			}
		}
	}
}

.related-products {
	margin-top:  30px;
	padding-top: 20px;
	border-top:  1px solid @border_color;
}